@page
@model Migrantes.App.Presentacion.Pages.Servicios.ConsultarTodosModel
@{
}
<h1>Listado de Todos los Servicios</h1>

<form method="GET">
    <div>
        <label for="category">Filtrar por Categoria:</label>
        <select asp-items="Html.GetEnumSelectList<Migrantes.App.Dominio.Tipo>()" class="form-control" name="categoria" ></select>
    </div>
    <input type="submit" value="Submit">
</form>

<table class="table">
<tr>
    <th>Nombre Servicio</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
    <th>Estado</th>
    <th>Categoria</th>
</tr>
@foreach (var entity in Model.Entities)
{
    @if(entity.EstaActivo) {
    <tr>
        <td>@entity.NombreServicio</td>
        <td>@entity.Categoria</td>
        <td>@entity.EstadoServicio</td>
        <td>@entity.FechaInicioOferta</td>
        <td>@entity.FechaFinOferta</td>

        @* <td>
            <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-pk="@entity.Id">
                Edit
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="./Details" asp-route-pk="@entity.Id">
                Detail
            </a>
        </td> *@
    </tr>
    }
}

</table>
