@page
@model Migrantes.App.Presentacion.Pages.Servicios.ListModel
@{
    int entidadId = Model.Entidad.Id;
}
<h1>Listado de Servicios de @Model.Entidad.RazonSocial</h1>


<table class="table">
<tr>
    <th>Codigo Servicio</th>
    <th>
        <a class="btn btn-success" asp-page="./Create" asp-route-pk="@entidadId">
            Add
        </a>
    </th>
</tr>
@foreach (var entity in Model.Entities)
{
    <tr>
        <td>@entity.Id</td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-pk="@entity.Id">
                Edit
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="./Details" asp-route-pk="@entity.Id">
                Detail
            </a>
        </td>
    </tr>
}

</table>
