@page
@model Migrantes.App.Presentacion.Pages.Entidades.ListModel
@{
}

<form method="get">
    <div class="input-group">
        <label form="Name">Buscar por Ciudad</label>
 </div>
 <br>
        <input class="form-control" asp-for="Ciudad"/>
<br>
    <div class="input-group-append">
            <button type="submit" class="btn btn-primary" >Buscar</button>
        </div>
<br>
        <div class="input-group">
        <label form="Name">Buscar por Nit</label>
 </div>
 <br>
        <input class="form-control" asp-for="Nit" />
<br>
    <div class="input-group-append">
            <button type="submit" class="btn btn-primary" >Buscar</button>
        </div>

<h1>Listado de Entidades asociadas a su usuario</h1>
<table class="table">
<tr>
    @* <th>Id</th> *@
    <th>Razon Social</th>
    @* <th>Type</th> *@
    <th>
        <a class="btn btn-success" asp-page="./Edit">
            Add
        </a>
    </th>
</tr>
@foreach (var entity in Model.Entities)
{
      <tr>
          <td>@entity.Ciudad</td>
        <td>@entity.RazonSocial</td>
        <td>@entity.TipoServicio</td>

        <td>
            <a class="btn btn-info table-btn" asp-page="./Details" asp-route-pk="@entity.Id">
                Detail
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="../Servicios/ListActivos" asp-route-entidadId="@entity.Id">
                Ver Servicios Habilitados
            </a>
        </td>
    </tr>
}  
@foreach (var entity1 in Model.Entities1){
     <tr>
          <td>@entity1.Ciudad</td>
        <td>@entity1.RazonSocial</td>
        <td>@entity1.TipoServicio</td>
   
        <td>
            <a class="btn btn-info table-btn" asp-page="./Details" asp-route-pk="@entity1.Id">
                Detail
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="../Servicios/ListActivos" asp-route-entidadId="@entity1.Id">
                Ver Servicios Habilitados
            </a>
        </td>
    </tr>
}
    

</table>
</form>